# Working with NaN and Null

<dl>
<dt>Time</dt>
<dd>5 minutes</dd>
<dt>Topic</dt>
<dd>Working with NaN values in Pandas</dd>
</dl>

Consider the following dataframe content.

In [1]:
import pandas as pd
import numpy as np

# Create a sample gaming and sports dataset
data = {
    'Player': ['Alex', 'Brian', np.nan, 'Diana', 'Emma'],
    'Gaming_Hours': [12, np.nan, 8, np.nan, 15],
    'Soccer_Goals': [3, 2, np.nan, 4, np.nan],
    'Favorite_Food': ['Pizza', np.nan, 'Dumplings', np.nan, np.nan]
}

df = pd.DataFrame(data)
print("Original Student Activities DataFrame:")
print(df)

Original Student Activities DataFrame:
  Player  Gaming_Hours  Soccer_Goals Favorite_Food
0   Alex          12.0           3.0         Pizza
1  Brian           NaN           2.0           NaN
2    NaN           8.0           NaN     Dumplings
3  Diana           NaN           4.0           NaN
4   Emma          15.0           NaN           NaN

## Exercises

Work through these exercises in order.

### 1. Detecting Missing Values

Return how many students are missing their Gaming_Hours data?

In [6]:
len(df[df['Gaming_Hours'].isnull()])

2

Which activity has the most missing values?

In [9]:
df.isnull().sum().max()

3

## 2. Filtering Data

Create a new DataFrame showing only players who have recorded both Gaming_Hours AND Soccer_Goals

In [10]:
df.dropna(subset=['Gaming_Hours', 'Soccer_Goals'])

  Player  Gaming_Hours  Soccer_Goals Favorite_Food
0   Alex          12.0           3.0         Pizza


## 3. Cleaning Data

Create a copy of the DataFrame and fill all NaN values in Gaming_Hours with the average gaming hours

In [16]:
df1=df.fillna({'Gaming_Hours': df['Gaming_Hours'].mean()})
# df1 = df.clone method
# df1['Gaming_Hours'] = ...
df1

  Player  Gaming_Hours  Soccer_Goals Favorite_Food
0   Alex     12.000000           3.0         Pizza
1  Brian     11.666667           2.0           NaN
2    NaN      8.000000           NaN     Dumplings
3  Diana     11.666667           4.0           NaN
4   Emma     15.000000           NaN           NaN


Create another copy and drop any rows where we don't know the player's name (it's NaN)

In [17]:
df2=df.dropna(subset='Player')
df2

  Player  Gaming_Hours  Soccer_Goals Favorite_Food
0   Alex          12.0           3.0         Pizza
1  Brian           NaN           2.0           NaN
3  Diana           NaN           4.0           NaN
4   Emma          15.0           NaN           NaN