# <i class="fas fa-laptop"></i> Practice: More pandas

```{admonition} Jupyter Notebooks
Reminder, that on this site the Jupyter Notebooks are read-only and you can't interact with them. Click the <i class="fas fa-rocket"></i> button above to launch
an interactive version of this notebook.

* With Binder, you get a temporary Jupyter Notebook website that opens with this notebook. Any code you write will be lost when you close the tab. Make sure to download the notebook so you can save it for later!
* With Colab, it will open Google Colaboratory. You can save the notebook there to your Google Drive. If you don't save to your Drive, any code you write will be lost when you close the tab. You can find the data files for this notebook below:
  * {download}`ufos.csv <./ufos.csv>`


You will need to run all the cells of the notebook to see the output. You can do this with hitting `Shift-Enter` on each cell or clickin the "Run All" button above.
```

For this problem, we will be using the earthquakes dataset from the last lesson.

In [1]:
import pandas as pd

df = pd.read_csv('ufos.csv')
df.head() # Method to only display the first few rows

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

## Problem 0
Compute the average duration (`'duration (seconds)'`) for each UFO shape (`'shape'`).

**For testing purposes, store the result in a variable called `ans0`.**

In [2]:
# Write your code here!
durations_for_shape = df.groupby('shape')['duration (seconds)'].sum()
durations_for_shape

shape
changing        23164.0
chevron          4978.0
cigar           22187.0
circle          57837.0
cone              300.0
cross              60.0
cylinder        26992.0
delta           14400.0
diamond         11403.0
disk            86893.0
egg             30880.0
fireball        22193.0
flash            5103.0
formation       65045.0
light          232255.0
other         6388918.0
oval            84083.0
rectangle        3886.0
sphere       97907404.0
teardrop          978.0
triangle        73529.0
unknown         97845.0
Name: duration (seconds), dtype: float64

## Problem 1
For this problem, we will provide you with some buggy starter code. Your job is to fix it so it meets the specification below! 

Write code to compute the longest duration UFO sighting (`'duration (seconds)'`) for each city (`'city'`) that is in a "positive location". A "positive location" is one where either at least one of its latitude (`'latitude'`) or longitude (`'longitude'`) are greater than 0. 

**For testing purposes, store the result in a variable called `ans1`.**

In [5]:
# Fix this code!
ans1 = df[(df['latitude'] > 0) | (df['longitude'] > 0)].groupby('city')['duration (seconds)'].max()
ans1

city
acton                                          180.0
addison (i-355 and us 20 (lake st.)            600.0
adelaide  (south australia)                    300.0
adelaide (pt. wakefield) (south australia)     600.0
albany                                         120.0
                                               ...
yangtzee river (china)                         900.0
yerevan (armenia)                               60.0
york                                            30.0
yuma                                           900.0
zlatoust (russia)                             1200.0
Name: duration (seconds), Length: 793, dtype: float64

## Problem 2
Find the name of the city (`'city'`) that has the longest total duration of UFO sightings. Use the column `'duration (seconds)'` to compute the total duration of all UFO sightings in each city. 

**For testing purposes, store the result in a variable called `ans2`.**

In [15]:
# Write your code here!
ans2 = df.groupby('city')['duration (seconds)'].sum().idxmax()
ans2

'birmingham (uk/england)'

## Problem 3
Compute how many words are in each comment (`'comments'`). Your result should be a `Series` of the same length as `df` that has the number of words in the comment as values. Like with previous problems we have done with counting words, we are just looking for the number of sequences of characters separated by whitespace.

**For testing purposes, store the result in a variable called `ans3`.**

*Hint: How would you do this for a single string `'I love dogs!'`?*

In [20]:
# Write your code here!
def split_and_count(s):
    listofwords = s.split()
    return len(listofwords)
    
ans3 = df['comments'].apply(split_and_count)
ans3

0       24
1       17
2        6
3       26
4       25
        ..
996     18
997     16
998      8
999     28
1000    10
Name: comments, Length: 1001, dtype: int64