# Comprehension Practice

In [1]:
import pandas as pd
import numpy as np
import random

# Create a list of odd numbers from 5 to 27 inclusive
odd = [num for num in range(5, 28) if num % 2 == 1]
print(odd)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27]

In [41]:
df = pd.DataFrame({
    'name': [f'Person_{i}' for i in range(20)],
    'age': np.random.randint(1, 91, 20),
    'race': np.random.choice([
        'white', 'hispanic', 'black', 'asian', 'other'
    ], 20)
})

final = {n: (k, v) for n, k, v in zip(df['name'], df['age'], df['race'])}

# zipped = list(zip(df['age'], df['race']))
# final = {df['name'][i]:zipped[i] for i in range(20)}
print(final.items())

sortrace = dict(sorted(final.items(), key=lambda item: item[1][1]))
print(sortrace)
sortname = dict(sorted(final.items()))
print(sortname)

dict_items([('Person_0', (28, 'black')), ('Person_1', (56, 'white')), ('Person_2', (48, 'other')), ('Person_3', (90, 'other')), ('Person_4', (50, 'black')), ('Person_5', (23, 'asian')), ('Person_6', (4, 'asian')), ('Person_7', (20, 'white')), ('Person_8', (53, 'white')), ('Person_9', (77, 'asian')), ('Person_10', (62, 'black')), ('Person_11', (62, 'other')), ('Person_12', (15, 'other')), ('Person_13', (29, 'white')), ('Person_14', (9, 'hispanic')), ('Person_15', (42, 'other')), ('Person_16', (41, 'white')), ('Person_17', (23, 'hispanic')), ('Person_18', (55, 'hispanic')), ('Person_19', (39, 'black'))])
{'Person_5': (23, 'asian'), 'Person_6': (4, 'asian'), 'Person_9': (77, 'asian'), 'Person_0': (28, 'black'), 'Person_4': (50, 'black'), 'Person_10': (62, 'black'), 'Person_19': (39, 'black'), 'Person_14': (9, 'hispanic'), 'Person_17': (23, 'hispanic'), 'Person_18': (55, 'hispanic'), 'Person_2': (48, 'other'), 'Person_3': (90, 'other'), 'Person_11': (62, 'other'), 'Person_12': (15, 'other'), 'Person_15': (42, 'other'), 'Person_1': (56, 'white'), 'Person_7': (20, 'white'), 'Person_8': (53, 'white'), 'Person_13': (29, 'white'), 'Person_16': (41, 'white')}
{'Person_0': (28, 'black'), 'Person_1': (56, 'white'), 'Person_10': (62, 'black'), 'Person_11': (62, 'other'), 'Person_12': (15, 'other'), 'Person_13': (29, 'white'), 'Person_14': (9, 'hispanic'), 'Person_15': (42, 'other'), 'Person_16': (41, 'white'), 'Person_17': (23, 'hispanic'), 'Person_18': (55, 'hispanic'), 'Person_19': (39, 'black'), 'Person_2': (48, 'other'), 'Person_3': (90, 'other'), 'Person_4': (50, 'black'), 'Person_5': (23, 'asian'), 'Person_6': (4, 'asian'), 'Person_7': (20, 'white'), 'Person_8': (53, 'white'), 'Person_9': (77, 'asian')}

In [3]:
# create a list of numbers divisible by 7 or 11 that are between 1 and 100
nums = [num for num in range(1, 100) if num % 7 == 0 or num % 11 == 0]
print(nums)

[7, 11, 14, 21, 22, 28, 33, 35, 42, 44, 49, 55, 56, 63, 66, 70, 77, 84, 88, 91, 98, 99]

In [4]:
# create a list of the squares from 1 to 100. [ 1, 4, 9, 16, 25, ... 100]
squares = [num * num for num in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# use random.randint() to create a list of 50 random numbers from 13-33 inclusive
nums = [random.randint(13, 33) for num in range(50)]
print(nums)

# create a list of 50 random numbers from 65-100 inclusive
scores = [random.randint(65, 100) for num in range(50)]
print(scores)

# # create a list of 50 random letters from 'a' to 'm' inclusive
letters = [random.choice('abcdefghijklm') for num in range(50)]
print(letters)

# create a dataframe with 3 columns and 50 rows
# letter :  a random letter selected from 'a' to 'm'
# num : a random number between 13 - 33 inclusive
# score : a random number between 65 - 100 inclusive
data = zip(letters, nums, scores)
df = pd.DataFrame(data, columns=['letter', 'num', 'score'])
print(df)

[17, 13, 15, 30, 16, 14, 31, 14, 13, 17, 25, 20, 16, 28, 13, 15, 18, 20, 21, 29, 19, 33, 30, 24, 19, 14, 18, 33, 13, 22, 21, 16, 18, 17, 23, 27, 14, 18, 14, 15, 30, 14, 25, 32, 27, 25, 15, 26, 24, 18]
[76, 82, 70, 93, 94, 74, 85, 82, 73, 90, 78, 70, 86, 94, 68, 100, 86, 65, 98, 66, 72, 88, 92, 79, 82, 74, 85, 87, 94, 90, 79, 94, 94, 65, 94, 71, 75, 90, 70, 100, 94, 66, 76, 82, 90, 76, 68, 75, 87, 90]
['f', 'a', 'a', 'c', 'd', 'd', 'g', 'l', 'j', 'j', 'm', 'a', 'a', 'k', 'm', 'h', 'h', 'e', 'm', 'f', 'h', 'f', 'k', 'i', 'c', 'j', 'd', 'e', 'i', 'k', 'a', 'm', 'c', 'b', 'f', 'l', 'b', 'd', 'g', 'd', 'h', 'j', 'g', 'k', 'k', 'c', 'm', 'l', 'h', 'h']
   letter  num  score
0       f   17     76
1       a   13     82
2       a   15     70
3       c   30     93
4       d   16     94
5       d   14     74
6       g   31     85
7       l   14     82
8       j   13     73
9       j   17     90
10      m   25     78
11      a   20     70
12      a   16     86
13      k   28     94
14      m   13     68
15      h   15    100
16      h   18     86
17      e   20     65
18      m   21     98
19      f   29     66
20      h   19     72
21      f   33     88
22      k   30     92
23      i   24     79
24      c   19     82
25      j   14     74
26      d   18     85
27      e   33     87
28      i   13     94
29      k   22     90
30      a   21     79
31      m   16     94
32      c   18     94
33      b   17     65
34      f   23     94
35      l   27     71
36      b   14     75
37      d   18     90
38      g   14     70
39      d   15    100
40      h   30     94
41      j   14     66
42      g   25     76
43      k   32     82
44      k   27     90
45      c   25     76
46      m   15     68
47      l   26     75
48      h   24     87
49      h   18     90

In [12]:
# create a list of letters in the generate dataframe that have a score > 90
# use df.loc and range()
gt90 = df.loc[[index for index in range(50) if df.loc[index]['score'] > 90]]
print(gt90)

# # same thing, but use filters
condition = df['score'] > 90
gt90 = df[condition]
print(gt90)

# print out a sorted list of unique letters in df that have a score > 90.
# Hint: use gt90 and sets
un_gt90 = sorted(set(gt90['letter']))
print(un_gt90)

   letter  num  score
3       c   30     93
4       d   16     94
13      k   28     94
15      h   15    100
18      m   21     98
22      k   30     92
28      i   13     94
31      m   16     94
32      c   18     94
34      f   23     94
39      d   15    100
40      h   30     94
   letter  num  score
3       c   30     93
4       d   16     94
13      k   28     94
15      h   15    100
18      m   21     98
22      k   30     92
28      i   13     94
31      m   16     94
32      c   18     94
34      f   23     94
39      d   15    100
40      h   30     94
['c', 'd', 'f', 'h', 'i', 'k', 'm']

In [19]:
# find the count of times each letter appears in the df
counts = df['letter'].value_counts()
print(counts)

# find the count of times each letter has a score above 90
counts = gt90['letter'].value_counts()
print(counts)

# print the letter that has a score above 90 the most number of times
print('most above 90:', counts.idxmax())

letter
h    6
a    5
d    5
m    5
k    5
f    4
c    4
j    4
g    3
l    3
e    2
i    2
b    2
Name: count, dtype: int64
letter
c    2
d    2
k    2
h    2
m    2
i    1
f    1
Name: count, dtype: int64
most above 90: c

In [65]:
# create a dataframe with two columns:
# letter 'a' - 'm'
# state: random from ['WA', 'CA', 'OR', 'NV' ]
# using a comprehension, create a list of letters a-m, inclusive
letters = [letter for letter in 'abcdefghijklm']
# using random.choice, create a list of length 13 that is a random
# selection of states in ['WA', 'CA', 'OR', 'NV' ]
states = [random.choice(['WA', 'CA', 'OR', 'NV']) for i in range(13)]
# create a dataframe that has two columns, 'letter' and 'state' using
# the two lists created above
df2 = pd.DataFrame(zip(letters, states), columns=['letter', 'state'])
df2

   letter state
0       a    WA
1       b    NV
2       c    WA
3       d    OR
4       e    OR
5       f    WA
6       g    NV
7       h    CA
8       i    CA
9       j    NV
10      k    CA
11      l    OR
12      m    OR

In [88]:

# join the above DataFrame with this latest dataframe, df2, that has states.
# The joined dataframe should have all 50 rows from df.
df3 = df.merge(df2, on='letter', how='left')
df3.head(10)
# display the first 10 rows of the resulting join.

  letter  num  score state
0      f   17     76    WA
1      a   13     82    WA
2      a   15     70    WA
3      c   30     93    WA
4      d   16     94    OR
5      d   14     74    OR
6      g   31     85    NV
7      l   14     82    OR
8      j   13     73    NV
9      j   17     90    NV

In [87]:
# display the state that has the greatest number of unique letters.
most_unique = df3.groupby('state')['letter'].nunique().idxmax()
print(most_unique)

# display all those unique letters in that state (any order)
most_unique_letters = set(df3[df3['state'] == most_unique]['letter'])
print(most_unique_letters)

OR
{'m', 'd', 'e', 'l'}

In [97]:
# for each of these letters, get the highest score they have
# then, display the letters in order from highest to lowest.
# display this as a Series where the index is the letter, and the score is the value.
scores = df3.groupby('letter')['score'].max()
subset = dict()
for letter in most_unique_letters:
    subset[letter] = scores[letter]
sort = {k: v for k, v in sorted(subset.items(), key=lambda item: item[1], reverse=True)}
pd.Series(sort)

d    100
m     98
e     87
l     82
dtype: int64