In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('spotify_data.csv')
df

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2500 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Songs & Artist  2500 non-null   object
 1   Streams         2500 non-null   int64
 2   Daily           2498 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 58.7+ KB

In [6]:
df.describe()

            Streams         Daily
count  2.500000e+03  2.498000e+03
mean   9.381437e+08  5.044663e+05
std    4.788772e+08  4.963328e+05
min    5.052491e+08  7.523000e+03
25%    6.099077e+08  2.245135e+05
50%    7.628053e+08  3.763570e+05
75%    1.096878e+09  6.318060e+05
max    4.463659e+09  7.553534e+06

In [17]:
higheststreamindex = df['Streams'].idxmax()
higheststreamindex

0

In [18]:
highestdailyindex = df['Daily'].idxmax()
highestdailyindex

1911

In [26]:
daily = df.loc[highestdailyindex,'Songs & Artist']
streamed = df.loc[higheststreamindex,'Songs & Artist']
print('The highest daily streamed song is', daily, 'and the highest streamed song is', streamed)

The highest daily streamed song is Jimin - Who and the highest streamed song is The Weeknd - Blinding Lights

In [33]:
travissongs = df[df['Songs & Artist'].str.contains("Travis Scott")]
travissongs

                          Songs & Artist     Streams      Daily
35             Travis Scott - goosebumps  2527338922  1110097.0
68             Travis Scott - SICKO MODE  2205803195   622901.0
180   Travis Scott - HIGHEST IN THE ROOM  1748280768  1364955.0
293      Travis Scott - BUTTERFLY EFFECT  1499161291   772987.0
954                  Travis Scott - FE!N   890317128  2409613.0
1167           Travis Scott - Goosebumps   792357980   187912.0
1243           Travis Scott - STARGAZING   765480499   211188.0
1416             Travis Scott - Antidote   714493982   179161.0
1586             Travis Scott - YOSEMITE   666646540   164027.0
1615            Travis Scott - CAN'T SAY   660118514   618653.0
1742             Travis Scott - I KNOW ?   632659790   789277.0
1892                Travis Scott - 90210   607342264   387835.0
2243              Travis Scott - 5% TINT   543726896   258478.0

In [36]:
def findHowMany(data, artist):
    df = data[data['Songs & Artist'].str.contains(artist)]
    return len(df)


print('Travis Scott songs:', findHowMany(df, "Travis Scott"))
print('Taylor Swift songs:', findHowMany(df, "Taylor Swift"))

Travis Scott songs: 13
Taylor Swift songs: 42